/* intro */
div.introduction{
    height: 92vh;
    background-repeat: no-repeat;
    background-image: url(../images/back.jpg);
    > p{
        text-align: center;
    }
    p.title{
        padding-top: 20vh !important;
    }
    p:not(.caption){
        font-size: 5vw;
        padding-top: 5vw;
        margin-top: 0.5vw;
    }
    p.caption{
        font-size: 2vw;
        margin-bottom: 0;
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }
    p.under_caption{
        font-size: 1.5vw;
        padding-top: 1vw;
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }
    p.info{
        font-size: 1.6vw;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }
}
div.blue{
    color: #272727;
}
div:where(.black, .settlements, .standing_order){
    color: #dddddd !important;
}
/* footer */
footer{
    >div{
        display: flex;
        flex-direction: row;
        div{
            margin-left: 5vw;
            font-size: 1.2vw;
            line-height: 2vw;
        }
    }
}
/* p */
p.title{
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    margin-top: 2vw;
}

div.black{
    div a{
        color: rgb(131, 129, 140)
    }
}

@media (orientation: portrait) {
    div.introduction{
        height: 80vh;
        background-repeat: no-repeat;
        background-image: url(../images/back.jpg);
        > p{
            text-align: center;
        }
        p.title{
            padding-top: 20vh !important;
        }
        p:not(.caption){
            font-size: 10vw;
            padding-top: 5vw;
            margin-top: 0.5vw;
        }
        p.caption{
            font-size: 4.5vw;
            margin-bottom: 0;
            width: 70vw;
            margin-left: auto;
            margin-right: auto;
        }
        p.under_caption{
            font-size: 3.5vw;
            padding-top: 1vw;
            width: 50vw;
            margin-left: auto;
            margin-right: auto;
        }
        p.info{
            font-size: 3vw;
        }
    }
    div:where(.black, .blue){
        p {
            font-size: 4vw;
        }
        p.title{
            font-size: 6vw;
            margin-top: 10vw;
            margin-bottom: 10vw;
        }
        table{
            tr td, tr th{
                font-size: 3vw;
            }
        }
        ul li{
            font-size: 3.5vw;
        }
    }
}