body {
  color: #E6E6E6;
  background-color: black;
  font-style: "Tahoma Regular";
  margin: 0;
  width: 100%;
}

@font-face {
  font-family: "Tahoma Regular";
  src: url("../fonts/Tahoma.eot") format("opentype"), url("../fonts/Tahoma.woff") format("woff"), url("../fonts/Tahoma.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* header */
header {
  font-size: 1.2vw;
  height: 5vw !important;
  position: relative !important;
}
header img {
  height: 6vw;
  position: absolute;
}
header div {
  float: right;
}
header a {
  font-size: 1.5vw;
  margin-left: 3vw;
}
header a.righter {
  margin-right: 2vw;
}
header div {
  padding-top: 2vw;
}

/* div */
div.pseudo-header {
  background-image: url("../images/back.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 690px;
  text-align: center;
}
div.pseudo-header p.tagline {
  font-size: 1.5vw;
  padding-top: 5vw;
}
div.pseudo-header p.name {
  font-size: 5vw;
}
div.pseudo-header p.quote {
  font-size: 1vw;
}

div.switch-list {
  background-color: rgb(131, 129, 140);
  padding: 1.5vw 0 0vw 0;
}
div.switch-list a {
  font-size: 1.5vw;
  padding: 0.5vw 1vw 0.5vw 1vw;
  border-radius: 1vw 1vw 0 0;
  background-color: rgb(14, 14, 14);
}
div.switch-list a:not(#announce) {
  margin-left: 2vw;
}
div.switch-list a.active, div.switch-list a:active {
  background-color: #464646;
}

div.switch-list, div.main, :where(div.switch-list, div.main) a {
  color: #dddddd;
}

div.main {
  opacity: 1;
  width: 96%;
  display: block;
  margin-left: 0vw;
  margin-right: auto;
  font-size: 1.5vw;
}
div.main a {
  color: #dddddd;
}

div.background {
  background-color: rgb(131, 129, 140);
  border-radius: 0;
  padding-top: 0.5vw;
  padding-bottom: 1vw;
}

div.hr {
  margin: 1vw 0 1vw 0;
  height: 1px;
  width: 100%;
  background-color: black;
}

div.main-box {
  margin-bottom: 2vw;
  background-color: rgb(214, 214, 214);
  color: rgb(39, 39, 39);
  border-radius: 0 2vw 2vw 0;
  box-shadow: 0 0 1vw rgb(69, 69, 69);
}

div.div-main-margin {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 2vw 0 1vw 0;
}

div.announcements a {
  color: #b2bbdc;
}

div :where(.bcard, .cont, .new) {
  width: 96%;
  display: block;
  margin-left: vw;
  margin-right: auto;
  font-size: 1.5vw;
  opacity: 0;
  height: 0;
}

div.cont div.contacts table, div.cont div.contacts td {
  border-collapse: collapse;
  border: 1px solid black;
}
div.cont div.contacts table td {
  width: 20vw !important;
  font-size: 1.1vw;
  padding-left: 0.1vw;
}
div.cont div.contacts table td.first_column {
  padding: 0;
  padding-left: 0.5vw;
}

div :where(.first-line, .second-line) {
  background-color: rgb(14, 14, 14);
  display: flex;
  padding-top: 2vw;
}
div :where(.first-line, .second-line) a {
  margin-right: auto;
  margin-left: auto;
  width: 25%;
}
div :where(.first-line, .second-line) a figure img {
  width: 50%;
  margin-left: 5vw;
  padding-top: 2vw;
}
div :where(.first-line, .second-line) figure {
  border-radius: 10px;
  background-color: rgb(131, 129, 140);
  color: rgb(39, 39, 39);
}
div :where(.first-line, .second-line) figcaption {
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 1.5vw;
  padding-bottom: 2vw;
  text-align: center;
}

div.flex-box {
  display: flex;
  background-color: rgb(131, 129, 140);
}

div.right-part {
  width: 70%;
}

div.left-part {
  width: 30%;
}
div.left-part div.switch-list {
  margin-left: 12vw;
}

div.news-block {
  margin-bottom: 2vw;
  border-bottom: 2px dashed rgb(69, 69, 69);
  padding-bottom: 2vw;
}
div.news-block div.flex-box {
  background-color: rgb(214, 214, 214);
}
div.news-block img {
  width: 10vw;
  border-right: 1px solid rgb(69, 69, 69);
  padding-right: 2vw;
}
div.news-block div.text-part {
  padding-left: 2vw;
}
div.news-block div.text-part p {
  padding-top: 1vw;
  padding-bottom: 1vw;
}
div.news-block a {
  color: #17255e;
  text-decoration: underline;
}
div.news-block a:hover {
  text-decoration: none;
}
div.news-block a:visited {
  color: #32175e;
}

aside div {
  margin-left: 4.5vw;
  padding-top: 1vw !important;
}
aside div p {
  font-size: 1.5vw;
}
aside div a {
  color: #17255e;
}
aside div ul li {
  list-style-type: circle;
  margin-top: 0.5vw;
}

div.link-list {
  padding-bottom: 2vw !important;
}

/* aside */
aside {
  color: rgb(39, 39, 39);
  background-color: rgb(214, 214, 214);
  border-radius: 2vw 0 0 2vw;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 0 1vw rgb(69, 69, 69);
  margin-top: 0.5vw;
}

/* img */
aside img {
  width: 30%;
  margin-left: 15%;
  margin-bottom: 2vw;
  margin-top: 2vw;
}/*# sourceMappingURL=style.css.map */