body{
    margin: 0;
    width: 100%;
    background-color: black;
    color: white;
}
/* div */
header, div.link-list.second{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
}
div#secondLinkList{
    margin-top: 90vh;
    padding-bottom: 0.5vw;
}
div.blue{
    background-color: rgb(131, 129, 140);
    position: relative;
    z-index: 2;
    padding-bottom: 4vw;
    border-radius: 2vw 2vw 2vw 2vw;
    padding-top: 1vw;
    div{
        width: 90vw;
        margin-left: 5vw;
        p, ul, li, a{
            font-size: 1.5vw;
        }
        p.title{
            font-size: 2.5vw;
            margin-top: 5vw;
        }
        img{
            width: 25vw;
        }
        div.hr{
            background-color: #272727;
            height: 2px;
            margin: 0;
            border: 5px;
        }
        a{
            color: #272727;
            text-align: center;
        }
        ul li{
            list-style-type: disc;
        }
        table{
            margin-left: auto;
            margin-right: auto;
            width: max-content;
            tr td{
                border-collapse: collapse;
                border: 1px solid #272727;
                font-size: 1.5vw;
                width: 20vw;
            }
        }
        table#app_one{
            tr td{
                width: 20vw;
                padding: 1vw 2vw 1vw 2vw;
            }
        }
    }
}
div.flex{
    display: flex;
}
/* p */